In [96]:
import pandas as pd
import numpy as np
import os
import re

In [97]:
df = pd.read_csv("data/glassdoor_swe.csv")
df = df.drop_duplicates(["job_title","location","salary","job_details"])
df = df.dropna(subset=["job_details"]).reset_index(drop=True)
df.head()

,date,url,job_title,company,location,age,salary,job_details
0,07/07/2022,https://www.glassdoor.co.uk/partner/jobListing...,Software Engineer,Karno Sound Limited,"London, England",7d,NaN,We’re looking for a high-level software engine...
1,07/07/2022,https://www.glassdoor.co.uk/partner/jobListing...,Development Engineer – Software Developer,Metropolitan Police,"Southwark, England",7d,£43K - £47K (Employer Est.),"Development Engineer – Software Developer £43,..."
2,07/07/2022,https://www.glassdoor.co.uk/partner/jobListing...,Full Stack Software Engineer,Freelancer.com,"London, England",30d+,£35K - £60K (Employer Est.),Freelancer.com is the world's largest freelanc...
3,07/07/2022,https://www.glassdoor.co.uk/partner/jobListing...,"Forward Deployed Software Engineer, New Grad -...",Palantir Technologies,"London, England",3d,£92K - £137K (Glassdoor Est.),"A World-Changing Company \nAt Palantir, we’re ..."
4,07/07/2022,https://www.glassdoor.co.uk/partner/jobListing...,Senior Software Engineer - London,Cado Security Ltd,"London, England",30d+,£60K - £80K (Employer Est.),Why Cado Security: * We are building a softwar...

In [98]:
def find_average(string):
    try:
        if "hour" not in string.lower():
            string_list = re.findall('[\d]+',string)
            average = (int(string_list[0]) + int(string_list[1]))/2
            average *= 1000
        else:
            average = np.nan
    except:
        average = np.nan
    return average

df["average salary"] = df["salary"].apply(find_average)

In [99]:
df["average salary"].mean()

65694.26751592357

In [100]:

def get_tech(sents):
    """
    Extracting all possible skills and put them into a string
    """
    string = re.findall(r'\b\W?(SQL|Python|Power Bi|Tableau|R|Azure|Looker|Periscope|Alteryx|Java|Oracle|Hadoop|C\+\+|C#|Javascript|HTML|CSS|Golang|.NET|MySQL|PostgreSQL|Angular|Typescript|Ruby|PHP|Django|Node.js)\W?\b',sents,re.I)
    string = [x.title() for x in string]
    string = list(set(string))
    string = ', '.join(string)
    return(string)
    
df['skills'] = df['job_details'].apply(get_tech)

In [101]:
# Puting all technical skills into a variable
tech_skills = ['Sql','Python','Power Bi','Tableau','R','Azure', 'Looker', 'Periscope', 'Alteryx', 'Java', 'Oracle', 'Hadoop','C++','C#','Javascript','Html','Css','Golang','.Net','Mysql','Postgresql','Angular','Typescript','Ruby','Php','Django','Node.js']

# Generating dummy variable, 1 if that skill exists, 0 if not
for ts in tech_skills:
    df[ts] = df['skills'].apply(lambda x: 1 if ts in x else 0)

# Dropping skills column
# df.drop('skills',axis=1,inplace=True)

In [103]:
df["Django"].sum()

4